<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pokemon_firebase">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBW6DOkEvttbrOvbETDYRWYPapjGbp5n-o" />

        <activity
            android:name=".menu.mapa.Activity_map"
            android:exported="false"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".menu.vistas.activity_infApp"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.mostrarFunkosaActivity"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.MostrarDetallesFunkoActivity"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.BorrarFunkoActivity"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.editarFunkoActivity"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.addMFunkosActivitty"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.MenuFunkos"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.BorrarPokemonActivity"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.editarPokemonActivity"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.MostrarDetallesPokemonActivity"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.mostrarPokemonActivity"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.addEntrenador"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.MenuPrinci"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.Registro"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.addPokemonActivitty"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.menuPokemon"
            android:exported="false" />
        <activity
            android:name=".menu.vistas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>